@font-face {
  font-family: "limbo_bt";
  src: url("../fonts/limbo_bt.ttf");
}
.estiloLetra {
  font-family: "limbo_bt";
  color: #ff6961 !important;
  font-size: 34px !important;
}
.estiloLetraCarousel {
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: black 0.1em 0.1em 0.2em;
  display: inline;
  border-radius: 7px;
  padding: 7px;
}
