<div>
    <div class="page-header">
        <h1>Sobre Smileme.</h1>
    </div>
    <p>
    
<div class="jumbotron">
 
 <p>
    Smileme es una empresa dedicada a la animación infantil que reside en la provincia de Cádiz y desarrolla  su trabajo por toda la provincia. Nuestro equipo esta formado por animadores, zancudos, magos, titiriteros, maquilladoras, monitores de tiempo libre, técnicos de sonido, trabajadores sociales y técnicos deportivos, dedicados al mundo infantil desde que supimos apreciar el valor de la sonrisa de un niño.
 </p>
  <p>Smileme se hace partícipe, como entidad con principios sociales y educativos, del proceso de adaptación de las personas y grupos a los cambios sociales.
Por ello trabajamos desde los inicios de la puesta en marcha del mencionado decreto, para ofrecer a los centros educativos nuestra opción programática.
Las bases en las que asentamos nuestra propuesta específica las transcribimos en el texto que usted ahora lee; pero intentamos que sobre todo se perciba en cada detalle de nuestro qué hacer cotidiano, en el talante de las personas que os presentan el proyecto, en la relación de los monitores con los grupos, en la coordinación conjunta que realizamos con el personal del centro (directores/as, profesorado, limpiadores/as, etc.).</p>


   <p> Nuestra particular manera de trabajar este ámbito, elige un sistema al que llamamos Sistema de Tres Columnas para sintetizarlo en pocas palabras:
</p>

<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail caption">
          <div class="page-header"><h3 align=center><strong>Calidad</strong></h3></div>
        <p>Nuestra guía para superarnos en los servicios que ofrecemos. Es una garantía sin condiciones para los usuarios de Smileme</p>
      </div>
  </div>
   <div class="col-sm-6 col-md-4">
      <div class=" thumbnail caption">
        <div class="page-header"><h3 align=center><strong>Cercanía</strong></h3></div>
        <p>Lo que hacemos va más allá de una relación mercantil. Formamos parte de un proyecto socioeducativo, cuyos principios se anteponen a los empresariales. Comunicación directa, cordial y sincera.</p>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail caption">
         <div class="page-header"><h3 align=center><strong>Coordinación</strong></h3></div>
        <p>
Lo que hacemos va más allá de una relación mercantil. Formamos parte de un proyecto socioeducativo, cuyos principios se anteponen a los empresariales. Comunicación directa, cordial y sincera.</p>
      </div>
  </div>
</div>



</div>


</div>

