<div class="container marketing">

    <div class="page-header">
        <h1>¡Celebra con nosotros!</h1>
    </div>
        <div class="jumbotron">

    <p>En SmileMe te preparamos y organizamos las mejores fiestas de cumpleaños y comuniones. Ponemos a tú disposición todo lo que necesites para que su hijo o hija y sus amigos pasen un día inolvidable. En SmileMe te ofrecemos una fiesta totalmente adaptada a las necesidades de sus hijos/as, golosinas, sandwiches, patatas, batidos, zumos y todo acompañado de mucha diversión, recuerda que tienes invitaciones personalizadas para todos sus amiguitos y en todo momento estaréis perfectamente atendidos por un extraordinario equipo de profesionales. Nos desplazamos al lugar de celebración de la fiesta o evento por todo Cádiz con nuestros monitores/animadores especializados. Para más detalle vea acontinuación nuestros packs.</p>
</div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="/images/celebrations/basico.png">-->
            <h2 class="estiloLetra">PAQUETE BÁSICO<br>DE ANIMACIÓN</h2>
            <p class="text-justify">Dos horas de anumación con juegos varios, pintacaras y globoflexfia. 80€ + Dos monitores.</p>
        </div>
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="http://placehold.it/140x140">-->
            <h2 class="estiloLetra">PAQUETE BÁSICO <br>+ KARAOKE</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia y karaoke más luces y juegos musicales. 120€ + Dos monitores y material</p>
        </div>
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="http://placehold.it/140x140">-->
            <h2 class="estiloLetra">PAQUETE BÁSICO <br>+ HINCABLE</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante. 200€ + Dos monitores e hinchable.</p>
        </div>
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="http://placehold.it/140x140">-->
            <h2 class="estiloLetra">PAQUETE BÁSICO <br>+ CAMA ELÁSTICA</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante. 100 + Dos monitores y material</p>
        </div>
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="http://placehold.it/140x140">-->
            <h2 class="estiloLetra">PAQUETE COMPLETO</h2>
            <p class="text-justify">Animación con juegos varios, pintacaras, globoflexia más karaoke y juegos musicales más hinchable, más cama elástica, más carrito de chuches. A <a href="#contact"> consultar</a> seǵun número de horas.</p>
        </div>
        <div class="col-md-4 text-center">
<!--            <img class="img-circle" src="http://placehold.it/140x140">-->
            <h2 class="estiloLetra">MAGIA PROFESRIONAL</h2>
            <p class="text-justify">Posibilidad de incluirlo en cualquiera paquete. Para más información <a href="#contact">contáctenos</a>.</p>
        </div>
    </div>
    
    <!-- /.row -->

</div>