<div class="container marketing">

    <div class="page-header">
        <h1>¡Celebra con nosotros!</h1>
    </div>
        <div class="jumbotron">

    <p>En SmileMe te preparamos y organizamos las mejores fiestas de cumpleaños y comuniones. Ponemos a tú disposición todo lo que necesites para que su hijo o hija y sus amigos pasen un día inolvidable. En SmileMe te ofrecemos una fiesta totalmente adaptada a las necesidades de sus hijos/as, golosinas, sandwiches, patatas, batidos, zumos y todo acompañado de mucha diversión, recuerda que tienes invitaciones personalizadas para todos sus amiguitos y en todo momento estaréis perfectamente atendidos por un extraordinario equipo de profesionales. Nos desplazamos al lugar de celebración de la fiesta o evento por todo Cádiz con nuestros monitores/animadores especializados. Para más detalle vea acontinuación nuestros packs.</p>
</div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Paquete básico</h2>
            <p>Dos horas de anumación con juegos varios, pintacaras y globoflexfia.</p>
            <p>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Paquete básico + karaoke</h2>
            <p>Dos horas de animación con juegos varios, pintacaras, globoflexia y karaoke más luces y juegos musicales.</p>
            <p>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Paquete básico + hinchable</h2>
            <p>Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante.</p>
            <p>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Paquete básico + cama elástica</h2>
            <p>Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante.</p>
            <p>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Paquete completo</h2>
            <p>Animación con juegos varios, pintacaras, globoflexia más karaoke y juegos musicales más hinchable más carrito de chuches.</p>
            <p>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="http://placehold.it/140x140">
            <h2>Magia profesional</h2>
            <p>Posibilidad de incluirlo en cualquiera paquete. Para más información <a href="#contact">contáctenos</a>.</p>
            <p>
            </p>
        </div>
    </div>
    
    <!-- /.row -->

</div>