<div class="container marketing">

    <div class="page-header">
        <h1>Esto es Smileme Nature.</h1>
    </div>
        <div class="jumbotron">

    <p>En SmileMe nos encanta la naturaleza en general. Ofrecemos a nuestros clientes la posibilidad de realizar excursiones al zoo botánico de Jerez, o excursiones por nuestra sierra gaditana, nuestras marismas, dando a conocer a los niños la belleza de nuestra tierra. Este servicio incluye autobús de ida y vuelta, picnic, libreta con información sobre las plántas y animales correspondientes a las excrusiones con la naturaleza. Realizamos excursiones para niños entre 3 y 12 años y un mínimo de 10 niños. Si tiene alguna duda <a href="#contact">contáctenos</a>.</p>
</div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/zoo.png">
            <h2>Parque Zoológico Botánico</h2>
            <p class="text-justify">El Parque Zoológico Botánico de Jerez de la Frontera cuenta con la colección zoológica más importante de Andalucía, con más de 1.200 animales pertenecientes a casi 200 especies de los cinco continentes.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/donana.png">
            <h2>Parque Nacional de Doñana</h2>
            <p class="text-justify">El Espacio Natural de Doñana está integrado en la Red de Parques Nacionales y protegidos del Estado español y con sus 50.720 Has. de superficie, representa la zona húmeda más importante de Europa, estando considerada por la UNESCO como reserva de la biosfera. </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/ciudad.png">
            <h2>Ciudad de los niños y las niñas</h2>
            <p class="text-justify"> la Ciudad de los Niños y las Niñas de Jerez de la Frontera, es un espacio natural concebido para el juego, el ocio y el disfrute, donde haremos que los niños y niñas pasen un dia lleno de muchas sorpresas que harán de su estancia en el parque una experiencia única, agradable y divertida.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/aqualand.png">
            <h2>Aqualand</h2>
            <p class="text-justify">Aqualand es un mundo de atracciones acuáticas, es un universo de toboganes acuáticos de multitud de formas en donde los más pequeños se divierten en Children's Paradise, el parque infantil de agua y los niños más grandes puede sentir sensaciones fuertes en las demás atracciones.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/rioMiel.png">
            <h2>Río de la Miel</h2>
            <p class="text-justify">El río de la miel o río de las pozas como se le conoce en el municipio, nace en la Sierra de Luna y recorre todo un frondoso y verde valle repleto de alcornoques, de alisos, helechos, entre otras especies, conformando un microclima característico en los ríos del Parque de Los Alcornocales, conocidos como bosques en galería o canutos. Este sendero discurre por las márgenes del río hasta llegar al salto de agua de la Chorrera, un lugar espectarcular para dejar a los niños maravillados.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/excursions/sugerencia.png">
            <h2>Excursión sugerida</h2>
            <p class="text-justify">Puedes sugerir una excursión. Para ello ponte en <a href="#contact">contacto</a> con nosotros y estudiaremos su propuesta.</p>
        </div>
    </div>
    
    <!-- /.row -->

</div>