<div class="page-header">
		<h1>Nuestra galería</h1>
</div>
<div class="container">
   <ul class="row">
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/1.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/2.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/3.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/4.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/5.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/6.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/7.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/8.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/9.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/10.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/11.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/12.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/13.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/14.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/15.png"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/16.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/17.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/18.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/19.jpg"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 thumbnail"><img src="images/gallery/20.jpg"/></li>
   </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">         
			<div class="modal-body">                
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
$(document).ready(function(){
           $('li img').on('click',function(){
                var src = $(this).attr('src');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function(){
                    $('#myModal .modal-body').html(img);
                });
                $('#myModal').on('hidden.bs.modal', function(){
                    $('#myModal .modal-body').html('');
                });
           });  
        })
</script>
