<div class="container marketing">

    <div class="page-header">
        <h1>¿Necesitas material para tu fiesta?</h1>
    </div>
        <div class="jumbotron">

    <p>En SmileMe tenemos también un servicio de alquiler de material para que puedas hacer tus propias fiestas. Para más información <a href="#contact">contáctenos</a>.</p>
</div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/castillo.png">
            <h2>Castillo Hinchable</h2>
            <p class="text-justify">Dos horas de anumación con juegos varios, pintacaras y globoflexfia.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/hPiscina.png">
            <h2>Hinchables de piscina</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia y karaoke más luces y juegos musicales.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/karaoke.png">
            <h2>Karaoke + kit de luces</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/humo.png">
            <h2>Máquina de humo</h2>
            <p class="text-justify">Dos horas de animación con juegos varios, pintacaras, globoflexia más hinchable y monitor vigilante.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/mesa.png">
            <h2>Altavoces y mesa de mezcla</h2>
            <p class="text-justify">Animación con juegos varios, pintacaras, globoflexia más karaoke y juegos musicales más hinchable más carrito de chuches.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/cama.png">
            <h2>Cama elástica</h2>
            <p class="text-justify">Posibilidad de incluirlo en cualquiera paquete. Para más información <a href="#contact">contáctenos</a>.</p>
        </div>
    </div>
    
    <!-- /.row -->

</div>