<div class="container marketing">

    <div class="page-header">
        <h1>¿Necesitas material para tu fiesta?</h1>
    </div>
        <div class="jumbotron">

    <p>En SmileMe tenemos también un servicio de alquiler de material para que puedas hacer tus propias fiestas. Para más información <a href="#contact">contáctenos</a>.</p>
</div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/castillo.png">
            <h2>Castillo Hinchable</h2>
            <p class="text-justify">Tenemos una gran variedad de hinchables. Para más información <a href="#contact">contáctenos</a>.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/hPiscina.png">
            <h2>Hinchables de piscina</h2>
            <p class="text-justify">Tenemos una gran variedad de hinchables para disfrutar en la piscina. Para más información <a href="#contact">contáctenos</a>.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/karaoke.png">
            <h2>Karaoke + kit de luces</h2>
            <p class="text-justify">Una fiesta con Karaoke y unas luces de fiesta marcan la diferencia, esto lo tendras por sólo 10€/h</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/humo.png">
            <h2>Máquina de humo</h2>
            <p class="text-justify">Si quieres una máquina de humo, sólo te costará 5€/h.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/mesa.png">
            <h2>Altavoces y mesa de mezcla</h2>
            <p class="text-justify">Sí quieres audio profesional, ¡Esto es lo que necesitas! Lo tendrás 3h por 80€ y cada hora adicional por sólo 10€ más. Si necesitas un DJ <a href="#contact">pregúntanos.</a></p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="/images/alquiler/cama.png">
            <h2>Cama elástica</h2>
            <p class="text-justify">A los niños y niñas les encanta saltar, una cama elástica siempre triunfa y la tendrás por tan sólo 15€/h.
        </div>
    </div>
    
    <!-- /.row -->

</div>